html {
    height: 100%;
    line-height: 1.5;
    font-family: "Tajawal", sans-serif;
    font-style: normal;
}

body {
    height: 100%;
    background-color: #3E5254;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    width: max(30%, 350px);
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px;
    padding-bottom: 4vh;
    background-image: url(../images/background\ \(2\).jpg);
    background-size: 65%;
}

.imgs {
    position: relative;
    width: 100%;
}

.top {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.logo {
    position: absolute;
    left: 50%;
    bottom: -20%;           /* هنا النزول 50% */
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    border: 3px white solid;
    width: 70%;
}

.content {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3vw;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 0;
}

.content-top-p {
    font-size: 2vw;
    margin-top: 0px;
    color: #ffffff;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 100%;
}

.whats {
    text-decoration: none;
    padding: 8px 10px;
    background-color: #ffffff;
    color: #000;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: max(2rem, 2vw);
}

.whats:hover {
    background-color: #dfdfdf;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-p {
    text-align: center;
    margin-top: 1.5vw;
    width: 80%;
    color: #ffffff;
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-img {
    width: 5vw;
    height: 8vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.the-chefz {
    width: auto;
}

.delivery-p {
    text-align: center;
    font-size: 1.3vw;
}

h5 {
    text-align: center;
    font-size: 1vw;
}

@media (max-width: 1024px) and (min-height: 720px) {
    .page-wrapper {
        width: 70%;
    }

    h1 {
        font-size: 4.5vw;
    }

    .content-top-p {
        font-size: 3vw;
    }

    .whats {
        font-size: 3vw;
    }

    .footer-p {
        font-size: 3vw;
    }
    
    .delivery-img {
        width: 11vw;
        height: 7vh;
    }

    .the-chefz {
        width: 18vw;
    }

    .delivery-p {
        font-size: 2.5vw;
    }

    h5 {
        font-size: 2.2vw;
    }
}

@media (max-width: 480px) {
    .page-wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
        box-shadow: 0 0 0;
    }

    h1 {
        font-size: 8vw;
    }

    .content-top-p {
        font-size: 5vw;
    }

    .whats {
        font-size: 4.5vw;
    }

    .footer-p {
        font-size: 4.5vw;
    }

    .delivery-img {
        width: 18vw;
        height: 14vw;
    }

    .the-chefz {
        width: 25vw;
    }

    .delivery-p {
        font-size: 4vw;
    }

    h5 {
        display: none;
    }
}